@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HCA Code Interview</h1>
    <p> <a href="~/Question">This is a simple self evaluation project </a>.</p>
</div>
