@model HCACodeInterview.Models.FeedBackTable
 
<div class="row">
    <div class="col-md-4">
        <form asp-action="create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReviewerName" class="control-label"></label>
                <input asp-for="ReviewerName" class="form-control" />
                <span asp-validation-for="ReviewerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedbackText" class="control-label"></label>
                <input asp-for="FeedbackText" class="form-control" />
                <span asp-validation-for="FeedbackText" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
